# IntelliJ IDEA/Rider project files
.idea/
.idea
*.iml

# Ignore all object and binary files
*.obj
*.dll

# Ignore specific directories for the AdventOfCode2025 project
AdventOfCode2025/obj
AdventOfCode2025/bin
